<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hate and Offensive Speech Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Word Detection</h1>
    <form id="detect-form" action="/detect" method="post">
        <label for="detect-language">Language:</label>
        <select id="detect-language" name="language">
            <option value="yoruba">Yoruba</option>
            <option value="hausa">Hausa</option>
            <option value="igbo">Igbo</option>
        </select>
        <br>
        <label for="detect-task">Task:</label>
        <select id="detect-task" name="task">
            <option value="hate">Hate Speech</option>
            <option value="offensive">Offensive Speech</option>
        </select>
        <br>
        <label for="word">Word:</label>
        <input type="text" id="word" name="word" placeholder="Enter a word" required>
        <br>
        <button type="submit">Detect</button>
    </form>
    <div id="result"></div>
    
    <script>
        document.querySelector('#detect-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            fetch('/detect', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                let resultDiv = document.getElementById('result');
                let resultContent = `<p>Word: ${data.word}</p>`;
                if ('is_hate_speech' in data) {
                    resultContent += `<p>Is Hate Speech: ${data.is_hate_speech}</p>
                                      <p>Why Hate: ${data.why_hate}</p>`;
                } else if ('is_offensive_speech' in data) {
                    resultContent += `<p>Is Offensive Speech: ${data.is_offensive_speech}</p>
                                      <p>Why Offensive: ${data.why_offensive}</p>`;
                }
                resultDiv.innerHTML = resultContent;
            });
        });
    </script>
</body>
</html>
